.footer{
    width: 100%;
    background: lightblue;
}

.foot{
    width: 83%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 250px 40px 40px 40px;
    letter-spacing: 0.5px;
}

.foot-logo{
    background: transparent;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(99, 99, 99);
}

h4{
    margin: 5px 0;
}

@media (max-width:768px) {
    .foot{
        flex-direction: column;
        width: 86%;
        padding: 150px 20px 20px 20px;
        letter-spacing: 0.2px;
    }
    .foot h1{
        font-size: 1.2rem;
    }
    .foot div h4{
        font-size: 1rem;
    }
    .foot div ul li a{
        font-size: .9rem;
    }
    .info{
        display: flex;
    }
    .info div{
        margin: 10px;
    }
}

@media (max-width:480px) {
    .foot{
        flex-direction: column;
        width: 90%;
        padding: 120px 10px 10px 10px;
        letter-spacing: 0;
    }
    .foot h1{
        font-size: .9rem;
    }
    .foot div h4{
        font-size: .8rem;
    }
    .foot div ul li a{
        font-size: .7rem;
    }
    .info{
        display: flex;
        flex-wrap: wrap;
    }
    .info div{
        margin: 10px;
    }
}