.global{
    width: 100%;
    margin-bottom: 50px;
}
.g-description{
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.destination{
    width: 100%;
}

.globe-img{
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 0px;
}

@media (max-width: 720px) {
    .global{
        margin-bottom: 30px;
        font-size: 15px;
    }
    .globe-img{
        height: 400px;
    }
}
@media (max-width: 480px) {
    .global{
        margin-bottom: 20px;
        font-size: 12px;
    }
    .globe-img{
        height: 300px;
    }
}