* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

button:hover{
  opacity: .7;
  font-size: 13px;
}
button{
  transition: .2s;
}